/* PERCENTAGES ARE ALWAYS
RELATIVE TO SOME OTHER VALUE
Sometimes, it's a value from the parent
and other times it's a value from the
element itself.
width: 50% - half the width of the parent
line-height: 50% - half the font-size of
the element itself */

html {
    font-size: 30px;
}
#percentages {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

#percentages div {
    background-color:#e5989b;
    width: 70%;
    height: 20%;
}


#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}
#ems h3 {
    font-size: 1.5em;
}
#ems p {
    font-size: 1em;
}

#ems {
    font-size: 15px;
}

#ems ul {
    /* font size of each ul is 1.5 times the parent so the innermost ul's get really big */
    font-size: 1.5em;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2a9d8f;
    color: white;
}

/* Relative to the root html element's
font-size. Often easier to work with.
ROOT EMS
If the root font-size is 20px, 1 rem is
always 20px, 2rem is always 40px, etc. */
#rems h2{
    font-size: 3rem;
}
#rems h3{
    font-size: 2rem;
}
#rems ul{
    font-size: 1.5rem;
}

#rems button{
    font-size: 1.5rem;
}


