h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* not all fonts are present in all systems so if first choice is not supported it will use second and so on */
    font-family: Segoe UI, Futura, Arial, sans-serif;
    /* font-family: monospace; */
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}


