body {
    color: purple;
}

section {
    color: aqua;
}

form {
    color: greenyellow;
}

/* certain elements don't inherit things by default */
button, input {
    color: inherit;
    /* inherits from nearest parent */
}

/* not all properties are inheritable */