div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}


#middle {
    background-color: #81b29a;
}

#static #middle {
    position: static;
    top: 100px;
}

/* It's positioned relatively to where it would be if it was just normal. 
The element is positioned relative to where it normally would be. */
#relative #middle {
    position: relative;
    top: 50px;
    left: 50px;
}

#absolute {
    position: relative;
}

/* The element is removed from the normal document flow and no space is created for the element. but it's positioned relative to its closest positioned ancestor, if any, otherwise its place relative to the initial containing block basically the body. */
#absolute #middle {
    position: absolute;
    top: 1px;
    left: 1px;
}

#fixed #middle {
    position: fixed;
    top: 0;
    left: 400px;
}